.collection-new-main {
    display: grid;

    grid-template-columns: 1fr minmax(0px, 2vw) 2fr minmax(0px, 2vw) 1fr;
}

.collection-new-main > * {
    grid-column: 3 / 4;

    margin-top: 0;
    margin-bottom: 1rem;
}

.collection-new-main > *:first-child {
    margin-top: 1rem;
}

.collection-new-button-group {
    margin: 0 auto;
}

.collection-new-button-group > * {
    margin-right: 1rem;
}

.collection-new-button-group > *:last-child {
    margin-right: 0;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .collection-new-main {
        grid-template-columns: minmax(0px, 2vw) 2fr minmax(0px, 2vw);
    }

    .collection-new-main > * {
        grid-column: 2 / 3;
    }
}


@media only screen and (min-device-width : 480px) and (max-device-width : 768px) {
    .collection-new-main {
        grid-template-columns: 1fr minmax(0px, 2vw) 5fr minmax(0px, 2vw) 1fr;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1224px) {
    .collection-new-main {
        grid-template-columns: 1fr minmax(0px, 2vw) 4fr minmax(0px, 2vw) 1fr;
    }
}