.button-group {
    display: block;

    justify-items: left;

    margin-top: 0;
    margin-bottom: 1rem;
}

.button-group > * {

    display: block;

    margin-top: 0 !important;
    margin-bottom: 1rem !important;
}

.command-group {
    display: block;
}

.command-group > *:first-child {
    margin-right: 1rem;
}

.ce-block__content {
    margin: 0 !important;
}

.ce-toolbar__content {
    margin: 0 !important;
}